body{
    margin: 0;
}

main img{
    width: 100%;
}

footer{
    background-color: #737373;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px 5px;
}

footer img{
    width: 300px;
    float: center;
    border-radius: 100%;
    border: 20px solid #444444;
    display: block;
    margin: auto;
}