body{
    margin: 0;
}

main{
    display: flex;
}

main img{
    width: 100%;
}

footer{
    background-color: #737373;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px;
}
footer img{
    width: 200px;
    border-radius: 100%;
    border: 10px solid #444444;
    display: block;
    margin: 30px;
}