/*Style for the nav and footer */
nav, footer {
    background-color: steelblue;
    color: white;
    text-align: center;
}

nav{
    padding: 15px
}

/* Style for the footer paragraph */
footer p {
    font-size: 20px;
    margin: 20px auto;
    padding: 25px;
    padding-top: 30px;
    text-align: center;
}
/* Style for a tags when hover, changes color andbackground color */
a:hover {
    background-color: white;
    color: steelblue;
}

/*Sets image width  */
img {
    width:80%;
    display: block;
    margin: 0 auto;
    border: 4px solid steelblue;
}

/*Aligns h1 text to center  */
h1 {
    text-align: center;
    margin: 50px 0;
}

/* Aligns the text for the p tag */
main p{
    width: 80%;
    margin: 0 auto;
}

/* Changes width for p tags */
p {
    width: 100%;
}

/* Changes fontsize for a tags */
a {
    font-size: 1.5em;
    color: white;
    padding: 30px;
}

body{
    margin: 0;
}

footer{
    padding-bottom: .05px;
}